# Open dataframes

In [8]:
import pandas as pd
import numpy as np

In [9]:
all_films = pd.read_csv('all_films_cleaned.csv')

/var/folders/0r/l856hq9x61zf5p8g8vxjs_dh0000gn/T/ipykernel_7643/3506580926.py:1: DtypeWarning: Columns (8,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  all_films = pd.read_csv('all_films_cleaned.csv')

In [10]:
a_oscars= pd.read_csv('a_oscars_cleaned.csv')

# Merge both Dataframes

In [12]:
#Merge the two DataFrames on the 'movie_name' column using left to include all rows from 'all_films'
merged_df = all_films.merge(a_oscars[['person_awarded', 'movie_name', 'osc_nominated_categories',
       'osc_won_categories', 'osc_nominated_num', 'osc_won_num']],
                            on='movie_name', how='left')

# 'how='inner'' ensures that only the rows with matching 'movie_name' values in both DataFrames are included

# You can also use 'how='left'' or 'how='right'' if you want to include all rows from 'all_films' or 'a_oscars' respectively,
# even if there is no match in the other DataFrame

# Now, merged_df contains all the columns from all_films, as well as the selected columns from a_oscars,
# only for the rows where 'movie_name' is the same in both DataFrames

# You can rename merged_df to 'all_films_a' if needed:
films_w_awards = merged_df.copy()

In [13]:
films_w_awards.head()

,movie_id,movie_name,year_film,runtime,rating,description,director,director_id,star_id,votes,...,actor3,actor4,genre1,genre2,genre3,person_awarded,osc_nominated_categories,osc_won_categories,osc_nominated_num,osc_won_num
0,tt0130121,Mickey Blue Eyes,1999,102,5.9,An English auctioneer proposes to the daughter...,Kelly Makin,/name/nm0538614/,"/name/nm0331956/,/name/nm0000424/,/name/nm0000...",37340,...,James Caan,Burt Young,Comedy,Crime,Romance,NaN,NaN,NaN,NaN,NaN
1,tt0494238,Inkheart,2008,106,6.1,A teenage girl discovers her father has an ama...,Iain Softley,/name/nm0812200/,"/name/nm0000409/,/name/nm0785227/,/name/nm1146...",79484,...,Eliza Bennett,Sienna Guillory,Adventure,Family,Fantasy,NaN,NaN,NaN,NaN,NaN
2,tt0371606,Chicken Little,2005,81,5.7,"After ruining his reputation with the town, a ...",Mark Dindal,/name/nm0227540/,"/name/nm0103785/,/name/nm0000349/,/name/nm0005...",94991,...,Garry Marshall,Don Knotts,Animation,Adventure,Comedy,NaN,NaN,NaN,NaN,NaN
3,tt4777008,Maleficent: Mistress of Evil,2019,119,6.6,Maleficent and her goddaughter Aurora begin to...,Joachim Rønning,/name/nm1461392/,"/name/nm0001401/,/name/nm1102577/,/name/nm6170...",108233,...,Harris Dickinson,Michelle Pfeiffer,Adventure,Family,Fantasy,"Paul Gooch, Arjen Tuiten and David White",MAKEUP AND HAIRSTYLING,NaN,1.0,0.0
4,tt3691740,The BFG,2016,117,6.3,An orphan little girl befriends a benevolent g...,Steven Spielberg,/name/nm0000229/,"/name/nm0753314/,/name/nm6982717/,/name/nm0934...",88088,...,Penelope Wilton,Jemaine Clement,Adventure,Family,Fantasy,NaN,NaN,NaN,NaN,NaN

In [7]:
filtered_films_w_awards = films_w_awards[films_w_awards['year'].isna()]
filtered_films_w_awards

Empty DataFrame
Columns: [movie_id, movie_name, year, runtime, rating, description, director, director_id, star_id, votes, actor1, actor2, actor3, actor4, genre1, genre2, genre3, year_film, person_awarded, osc_nominated_categories, osc_won_categories, osc_nominated_num, osc_won_num]
Index: []

[0 rows x 23 columns]